<h1>Ember Engine Super Blog route Home</h1>
{{!-- <CustomButton @onClick={{this.navigateWithInEngine}} @label="user" @route="user"/>
<CustomButton @onClick={{this.navigateWithInEngine}} @label="super blog" @route="super-blog"/> --}}
<LinkTo @route="application">Super Blog</LinkTo>
{{outlet}}