<h1>Ember Engine Super Blog route User</h1>
{{!-- <CustomButton @onClick={{this.navigateWithInEngine}} @label="home" @route="home"/>
<CustomButton @onClick={{this.navigateWithInEngine}} @label="super blog" @route="super-blog"/> --}}
<LinkTo @route="application">Super Blog</LinkTo>
{{outlet}}